<h1>/Task</h1>

<p>
  <b>Content</b><br>
  <%= @task.content %>
</p>

<p>
  <b>Challenge</b><br>
  <%= @task.challenge_id %>
</p>

<p>
  <b>Do eval</b><br>
  <%= @task.do_eval %>
</p>

<p>
  <b>Expected result</b><br>
  <%= @task.expected_result %>
</p>

<p>
  <b>Ordering</b><br>
  <%= @task.ordering %>
</p>

<div class="form-actions">
  <%= link_to 'Back', tasks_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn' %>
  <%= link_to 'Delete', task_path(@task), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
