<h1>Challenges</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.id %></td>
        <td><%= link_to challenge.title, challenge_path(challenge) %></td>
        <td><%= challenge.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_challenge_path(challenge), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', challenge_path(challenge), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_challenge_path, :class => 'btn btn-primary' %>
